[submodule "json-c"]
	path = json-c
	url = ../json-c
[submodule "libubox"]
	path = libubox
	url = ../libubox
[submodule "ubus"]
	path = ubus
	url = ../ubus
[submodule "uhttpd"]
	path = uhttpd
	url = ../uhttpd
